<div>
    <div class="btn btn-primary  pull-right" ng-click="goCreateNewEmployee()">Add Team Member</div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding:0px;">

        <ul class="nav navbar-nav">

            <li class="tmf-dropdown">

                <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false">Status ({{status.title}}) <span class="glyphicon glyphicon-menu-down"></span></a>
                <ul class="dropdown-menu" >
                    <li ><a ng-click="filterByStatus(1)">Active</a> </li>
                    <li><a ng-click="filterByStatus(0)">Terminated</a></li>
                </ul>
            </li>
        </ul>
    </div>



    <table class="table table-hover voffset3">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users | filter:statusFilter" ng-click="setActive(user)">
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{statusTitle(user.status)}}</td>
            <td><span class="glyphicon glyphicon-menu-right pull-right"></span></td>
        </tr>
        </tbody>
    </table>



</div>
<loading class="voffset8"></loading>
<!-- SIDE PANEL -->
<div class="cd-panel from-right">

    <div class="cd-panel-container">

        <div ng-include="panelContent"></div>
    </div> <!-- cd-panel-container -->
</div> <!-- cd-panel -->