.btn {
  padding:6px 15px;


}

.btn-caps{
  letter-spacing: 2px;
}

.btn-light{
    background-color:$brand-gray;
    border-color: $divider-on-light;

  }

.btn-border{
  border:3px solid #437FE7;
}

  .btn-primary{
    background-color:$brand-primary;

  }

.btn-white{
  background-color:#FFF;
  border-color: $divider-on-light;
  color:$brand-primary;
}

  .btn-default{
    background: none;
    border-color:$divider-on-light;
    color:$secondary-on-light;
  }

  .btn-dropdown{
    text-align:left;
    .caret{
      position:absolute;
      top:15px;
      right:10px;
    }
  }
