calendar {

  display:block;
  background:white;
  width:100%;
  border:solid 1px #CCC;
  margin-bottom:10px;


 .header{

   width:100%;
   background:#ccc;
   height:40px;
   color:$brand-navy;
   text-align:center;
   > span{
     width:100%;
     background-color:#FFF;
     text-align:center;
   }
 }


   .week {
    float:left;
    width:100%;
 //    background-color:#000;
    border-top:solid 1px #CCC;

    &:first-child {
      border-top:none;
    }

    > .day {
      float:left;
      width: calc(100%/7);
    height:70px;
      border-left:solid 1px #CCC;
      font-size:0.75em;
      text-align:center;

      background:white;
      cursor:pointer;
      color:black;

      &:first-child {
        border-left:none;
      }

      &.today {
        background:#E3F2FF;
      }

      &.different-month {
        cursor:default;
        > .projection {
          visibility: hidden;
          color: #C0C0C0;
        }
      }

      &.selected {
        background:#000;
        color:white;
      }
    }

     .names {
      color:#000066;
      font-weight:bold;
    }
  }
}