.tmf-nav {
  @extend .navbar;
  @extend .navbar-default;
  background: none;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid $divider-on-light;
  font-size: 20px;
  padding:10px;
  height:70px;
  margin-bottom:0px;
  

  .navbar-nav {

      list-style: none;

      font-size: $font-size-h5;
      li {


        cursor:pointer;
        float: left;
        padding: 18px;
        margin-right:20px;
        font-weight:400;
        white-space: nowrap;

        &:hover,
        &:focus {
          color: $brand-primary;
        }
      }

      > .active {
        background:none;
        color: $brand-primary;
        border-bottom: 3px solid $brand-primary;
        &,
        &:hover,
        &:focus {
          background:none;
          color: $brand-primary;
          text-decoration:none;
        }
      }
      > .disabled > a {
        &,
        &:hover,
        &:focus {
          background:none;
          color: $brand-primary;
          text-decoration:none;
        }
      }


    }



  }





.tmf-subnav {
  @extend .tmf-nav;

  text-align:center;

  height:30px;


  .nav-btn-right{
    float:right;
    position:absolute;
    top:-3px;
    right:5px;
  }
  ul{

    display: inline-block;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom:1;
    *display: inline;
    list-style: none;
    font-size: $font-size-h5;

    margin-right:20px;
    font-weight:400;

  }
  .active{
    color:$brand-primary;
    border-bottom:3px solid $brand-primary;
  }

  li {
    cursor:pointer;
    float: left;
    padding:0px 20px 15px;
    position:relative;
    bottom:5px;
    margin: 0px 20px;
    font-weight:500;
    white-space: nowrap;

  }
  li:hover{
    color:$brand-primary;
  }


}



