<div style="height:400px; ">

    <nav class="navbar navbar-default" style="margin-bottom:0px;">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->


            <button type="button" ng-click="saveChanges()" class="btn btn-primary  navbar-right navbar-btn"
                    style="margin-right:5px;">Save</button>
            <button type="button" ng-click="cancelChanges()" style="margin-right:5px;" class="btn btn-default navbar-right
        navbar-btn">Cancel</button>
        </div>
    </nav>

    <hr>

    <input type="text" ng-model="projection">

</div>


