

<div class="cd-panel-content">

    <div class="cd-panel-nav">


        <div class=" navbar-brand">Create Timecard</div>

    </div>


    <div class="row">
        <div class="form-group col-sm-6">

            <ul class="nav navbar-nav">
                <li class="tmf-dropdown">

                    <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">

                        <div ng-if="newTimecard.selectedUser == nil">Select Employee</div>
                        <div ng-if="newTimecard.selectedUser != nil">{{newTimecard.selectedUser.first_name}} {{newTimecard.selectedUser.last_name}}</div>
                        <span class="glyphicon glyphicon-menu-down"></span></a>
                    <ul class="dropdown-menu" >
                        <li ng-repeat="user in users" role="menuitem" ng-click="newTimecard.selectUser(user)">
                            <a>{{user.first_name}} {{user.last_name}}</a>
                        </li>


                    </ul>
                </li>
            </ul>


        </div>
    </div>




    <div class="row">

        <div class="form-group col-sm-5" style="margin-top:20px; position:relative;">
            <label >CLOCK IN</label>
            <p class="input-group ">
                <input date-range-picker id="dateRangeClockIn" name="dateRangeClockIn" class="col-sm-4 form-control"
                       type="text"
                       ng-model="newTimecard.dates.clock_in.date.startDate" options="{singleDatePicker: true, parentEl: '#clock-in-container',
                   locale: {format: 'MM/DD/YYYY'},opens:'right',autoApply:true}"  required/>

              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openDatePicker('#dateRangeClockIn')">
                    <i class="glyphicon glyphicon-calendar"></i></button>
              </span>

            </p>

            <div id="clock-in-container" style="position:absolute; top:82px; left:10px;"></div>
        </div>
        <div class="form-group col-sm-6" style="margin-top:10px;">
            <uib-timepicker  ng-model="newTimecard.dates.clock_in.time" ng-change="changed(clockInTime,clockOutTime)"
                             hour-step="1" minute-step="1"
                             show-meridian="true"></uib-timepicker>
        </div>

    </div>


    <div class="row">

        <div class="form-group col-sm-5" style="margin-top:20px; position:relative;">
            <label >CLOCK OUT</label>
            <p class="input-group ">
                <input date-range-picker id="dateRangeClockOut" name="dateRangeClockOut" class="col-sm-4 form-control"
                       type="text"
                       ng-model="newTimecard.dates.clock_out.date.startDate" options="{singleDatePicker: true, parentEl: '#clock-out-container',
                   locale: {format: 'MM/DD/YYYY'},opens:'right',autoApply:true}"  required/>

              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openDatePicker('#dateRangeClockOut')">
                    <i class="glyphicon glyphicon-calendar"></i></button>
              </span>

            </p>

            <div id="clock-out-container" style="position:absolute; top:82px; left:10px;"></div>
        </div>
        <div class="form-group col-sm-6" style="margin-top:10px;">
            <uib-timepicker ng-model="newTimecard.dates.clock_out.time" ng-change="newTimecard.changed(clockInTime,clockOutTime)"
                            hour-step="1" minute-step="1"
                            show-meridian="true"></uib-timepicker>

        </div>

    </div>

    <div style="width:100%; margin-bottom:100px; text-align:center; font-size:50px; margin-top:50px;">

        {{newTimecard.hours}} Hours

    </div>

    <div class="cd-panel-footer background-secondary">

        <button type="submit" class="btn btn-primary pull-right" ng-click="newTimecard.createTimecard()">Save</button>
        <button class="btn btn-default btn-default pull-right" ng-click="newTimecard.cancelCreateNewTimecard()">Cancel</button>
    </div>
</div> <!-- cd-panel-content -->


